@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    /* background: linear-gradient(45deg, #3d3e41, #3b7697); */
}

.calculator {
    border: 1px solid #717377;
    padding: 1.25rem;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

input {
    width: 20rem;
    border: none;
    padding: 1.5rem;
    margin: 0.625rem;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 2.5rem;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

button {
    width: 3.75rem;
    height: 3.75rem;
    border: none;
    margin: 0.625rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 1.25rem;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.color__button {
    background-color: #fb7c14;
}

.operator {
    color: #6dee0a;
}

/* ** Media Query */

@media (width <= 768px) {
    .calculator {
        width: 25rem;
        height: 26rem;
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    input {
        width: 20rem;
        height: 5rem;
    }

    button {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1.7rem;
        font-size: 1rem;
    }
}


@media (width <= 576px) {
    .calculator {
        width: 25rem;
        height: 26rem;
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    input {
        width: 20rem;
        height: 5rem;
    }

    button {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1.7rem;
        font-size: 1rem;
    }
}

@media (width <= 480px) {
    .calculator {
        width: 21rem;
        height: 28rem;
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    input {
        width: 18rem;
        height: 3.5rem;
    }

    button {
        width: 2.8rem;
        height: 2.8rem;
        margin-right: 0.975rem;
        font-size: 1rem;
    }
}